@charset "UTF-8";

/*
em HTML é id = em CSS é #
em HTML é class = em CSS é .
*/

body{
    background-color: rgb(185, 218, 137);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(15, 173, 15);
}

h2.basico{
    color: greenyellow;
}

h2{
    color: rgb(3, 77, 3);
}

.basico{
    color: green;
}

.intermediario{
    color: brown;
}

.avancado{
    color: rgb(0, 0, 0);
}

.destaque{
    background-color: rgb(161, 161, 15);
}