@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #AFBF73, #F5DE83);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(145, 109, 43, 0.541) ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #D95E32;
    text-align: center;
    text-shadow: 1px 1px 2px #964223a1;
}

h2{
    color: #538C51;
}
p{
    text-align: justify;
}